version: "2"

services:
  redis-tenant:
    image: redis:7.2.4
    container_name: redis-tenant
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

  db:
    image: postgres:17.2-bullseye
    container_name: postgres-db-blog-tenant
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: blog-tenant-db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    container_name: web-blog-tenant
    build:
      context: .
      dockerfile: deployments/development/Dockerfile
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DB_NAME=blog-tenant-db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_PROTOCOL=redis
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_HOST=redis-tenant
      - REDIS_PORT=6379
      - REDIS_DB_CELERY=${REDIS_DB_CELERY}
      - DJANGO_SETTINGS_MODULE=bloggies.settings.settings_development
    depends_on:
      - db

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-blog-tenant
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  celery:
    container_name: bloggies-celery-worker
    build:
      context: .
      dockerfile: deployments/development/Dockerfile
    depends_on:
      - redis-tenant
      - web
    volumes:
      - .:/usr/src/app
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DB_NAME=blog-tenant-db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_PROTOCOL=redis
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_HOST=redis-tenant
      - REDIS_PORT=6379
      - REDIS_DB_CELERY=${REDIS_DB_CELERY}
      - DJANGO_SETTINGS_MODULE=bloggies.settings.settings_development
    command: [ "celery", "-A", "bloggies", "worker", "--loglevel=info" ]

volumes:
  postgres_data:
  pgadmin_data: