{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Tenant Blog" %}{% endblock title %}

{% block description %}
{% trans "" %}
{% endblock description %}

{% block css %}
<link rel="stylesheet" href="{% static 'style/css/post-detail.css' %}">
<link rel="stylesheet" href="{% static 'style/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/css/navbar-admin.css' %}">

<style>
	.post-hero {
		background: url({{ site_settings.hero_image_url|safe }}) center center / cover no-repeat !important;
		font-family: {{ site_settings.heading_font_family }}
	}

</style>
{% endblock css %}

{% block header %}
{% if request.tenant_is_authenticated %}
<nav class="navbar admin-nav">
	<div class="container-fluid justify-content-end">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'site_config:site_settings_update' site_settings.id %}">Settings</a>
			</li>
			<form method="post" action="{% url 'users:logout' %}">
				{% csrf_token %}
				<button class="btn btn-primary" type="submit">Log out</button>
			</form>
		</ul>
	</div>
</nav>
{% endif %}

<header>
	<!-- Hero -->
	<section class="post-hero position-relative text-white text-center">
		<div class="hero-overlay position-absolute top-0 start-0 w-100 h-100"
		     style="background: rgba(0,0,0,0.5); z-index: 1;"></div>
		<div class="container position-relative z-2">
			<h1 class="display-4 fw-bold">{{ post.title }}</h1>
			<p class="lead">{{ post.created_at|date:"F j, Y" }}</p>
		</div>
	</section>


</header>
{% endblock header %}

{% block content %}

<!-- Article Body -->
<section class="py-5" style="background: linear-gradient(to bottom, #f9f9fb 0%, #ffffff 100%);">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-10 col-sm-10 col-12">
			<article class="post-body-content bg-white p-4 p-md-5 rounded shadow-sm">
				{{ post.content|safe }}

				{% if user_authenticated %}
				<div class="mt-5 text-end">
					<a href="{% url 'blogs:post_edit' post.id %}" class="btn btn-outline-secondary me-2">Edit</a>
					<form method="POST" action="#" style="display:inline;">
						{% csrf_token %}
						<button class="btn btn-outline-danger">Delete</button>
					</form>
				</div>
				{% endif %}
			</article>
		</div>
	</div>

</section>


{% endblock content %}