{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load form_filters %}

{% block title %}Create New Post{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
<link rel="stylesheet" href="{% static 'style/css/main.css' %}">
<link rel="stylesheet" href="{% static 'style/css/blog.css' %}">
<link rel="stylesheet" href="{% static 'style/css/post-create.css' %}">
<link rel="stylesheet" href="{% static 'style/css/navbar-admin.css' %}">

{% endblock css %}

{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
{% endblock scripts %}

{% block header %}

{% if user_authenticated %}
<nav class="navbar admin-nav">
	<div class="container-fluid justify-content-end">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blogs:tenant_index' %}">Go back</a>
			</li>
			<form method="post" action="{% url 'blogs:logout' %}">
				{% csrf_token %}
				<button class="btn btn-primary" type="submit">Log out</button>
			</form>
		</ul>
	</div>
</nav>
{% endif %}


{% endblock header %}


{% block content %}
{% if user_authenticated %}
<div class="container create-post-wrapper">
	<div class="post-form">
		<h2>Create a New Post</h2>
		<form method="POST"
		      action="{% if object %}{% url 'blogs:post_edit' object.id %}{% else %}{% url 'blogs:create-post' %}{% endif %}">
			{% csrf_token %}

			<div class="form-floating mb-3">
				{{ form.title|add_class_if_error:"is-invalid" }}
				<label for="{{ form.title.id_for_label }}">Post Title</label>
				{% if form.title.errors %}
				<div class="invalid-feedback">{{ form.title.errors.0 }}</div>
				{% endif %}
			</div>

			<input
					id="id_content"
					type="hidden"
					name="content"
					{% if object %}
					value="{{ object.content|safe }}"
					{% endif %}
			>
			<trix-editor input="id_content"></trix-editor>

			<div class="mt-4 text-end">
				<button type="submit" class="btn btn-primary btn-submit">Publish</button>
			</div>
		</form>
	</div>
</div>
{% else %}


{% endif %}
{% endblock content %}
